* {
    box-sizing: border-box;
  }
  
  /* Position container image */
  .container {
    position: relative;
  }
  
  /* cacher img par default */
  .mySlides {
    display: none;
  }
  
  /* curseur */
  .cursor {
    cursor: pointer;
  }
  
  /* bouttons prev/suivant */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* position bouton droit*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /*  On hover : ajouter backgroun noir. Dernier parametre = transparence */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container txt img */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Ici on gere 6 colonnes cote a cote */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* effet de transparence sur le thumbnails en bas */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }